.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 10px 15px;
}
.freeBox__owLbK {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  top: 14px;
  left: 15px;
}
.freeBox__state_singularLeft__owLbKJjn {
  left: 15px;
}
.slotTargetCount {
  color: rgb(119, 119, 119) /* plasmic-token: iL7fO0tVcCh */;
}
.text__bAobx {
  color: rgb(119, 119, 119) /* plasmic-token: iL7fO0tVcCh */;
}
.freeBox___8Vjx0 {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox___8Vjx0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___8Vjx0 > :global(.__wab_flex-container) > *,
.freeBox___8Vjx0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Vjx0 > :global(.__wab_flex-container) > picture > img,
.freeBox___8Vjx0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.toggleButton__f1F3J:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.toggleButton__tixgl:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.toggleButton___7H3La:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.text__jZm29 {
  position: absolute;
  color: rgb(119, 119, 119) /* plasmic-token: iL7fO0tVcCh */;
  left: 371px;
  top: 14px;
  cursor: pointer;
}
.text__state_hasCompleted__jZm29ChPUb {
  left: auto;
  right: 15px;
}
.footerContainer .text__jZm29:hover {
  text-decoration-line: underline;
}
